<nav class="bg-slate-900 w-full h-20 flex justify-between sticky">
    <div class="flex my-auto">   
        <img src="./images/logo.png" class="h-10 w-14 ml-5" alt="" srcset="">
        <h3 class="text-indigo-200 text-3xl font-bold ml-3 mr-5">NFT.io</h3>
        <a href="/index" class="text-indigo-200 font-semibold px-2 my-auto hover:text-indigo-500">Home</a>
        <a href="/createnft" class="text-indigo-200 font-semibold px-2 my-auto hover:text-indigo-500">Create NFT</a>
        <a href="/myitems" class="text-indigo-200 font-semibold px-2 my-auto hover:text-indigo-500">My items</a> 
    </div>
    
    
    <input class="ring-1 ring-offset-1 ring-indigo-500 text-indigo-200 rounded-lg font-semibold px-3 my-5 mr-8 hover:text-indigo-950 hover:bg-indigo-300" id="connectwallet" type="button" value="Connect wallet">
</nav>

<script src="https://unpkg.com/aptos@latest/dist/index.global.js" ></script>


 