<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NFT.io</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body class="bg-gradient-to-r from-slate-950 to-indigo-950 ">


    <%- include('header'); -%>

        <div class="grid grid-cols-6 mt-14 sm:grid-cols-1">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png"
            class="rounded-full h-32 w-32 sm:h-24 sm:w-24 self-center place-self-center ring-4 ring-offset-indigo-200 ring-offset-2 hover:ring-indigo-800"
            alt="Not found">
            
            <div>
                <p class="text-indigo-200 font-bold text-2xl pb-3 sm:text-center sm:text-xl sm:mt-3">NFTIOUSER1</p>
                <p class="text-indigo-200 font-medium pb-3 sm sm:text-center sm:text-sm sm:break-words sm:px-5" id="accountadd">
                    </p>
                <p class="text-indigo-200 font-medium sm:text-center sm:text-sm" id="balance"></p>
            </div>

        </div>


        <!-- tabs -->
        <div
            class="mx-10 mb-6 mt-5 text-sm font-medium text-center text-indigo-200 border-b border-indigo-500 dark:text-indigo-200 dark:border-indigo-600">
            <ul class="flex flex-wrap -mb-px">
                <li class="mr-2">
                    <a href="#" id="collectedbtn"
                        class="inline-block p-4 border-b-2  rounded-t-lg text-indigo-600 border-indigo-600  ">Collected</a>
                </li>
                <!-- <li class="mr-2">
                    <a href="#" class="inline-block p-4 rounded-t-lg  " aria-current="page">Pending</a>
                </li> -->
                <li class="mr-2">
                    <a href="#" id="listedbtn"
                        class="inline-block p-4 border-b-2 border-transparent rounded-t-lg ">Listed</a>
                </li>

            </ul>
        </div>

       

        

        <!-- container for show collected nft -->
        <div class="px-10 mb-20" id="NFTs">

        </div>

        <!-- container for show listed nft -->
        <div class="px-10 hidden mb-20" id="ListedNFTs">

        </div>



        <!-- nft listing lert box -->
        <div class="absolute hidden top-0  w-screen h-full  z-10  backdrop-blur-md" id="listnftalert">

            <div
                class="bg-gradient-to-r from-indigo-950 to-indigo-800 border border-indigo-600 px-5 py-5 w-1/2 sm:w-72 rounded-xl mx-auto my-20 ">
                <h1 class="text-indigo-200 text-3xl font-bold pb-3 sm:text-xl">LIST NFT ON MARKETPLACE</h1>
                <form action="" method="post" id="listingform">

                    <input type="hidden" name="collection_name" id="collection_name" value="">
                    <input type="hidden" name="token_name" id="token_name" value="">
                    <input type="hidden" name="token_desc" id="token_desc" value="">
                    <input type="hidden" name="token_url" id="token_url" value="">
                    <input type="hidden" name="token_owner" id="token_owner" value="">


                    <div class="grid grid-cols-2">
                        <div class="p-3">
                            <img id="alertimg"
                                src="https://imageio.forbes.com/specials-images/imageserve/6170e01f8d7639b95a7f2eeb/Sotheby-s-NFT-Natively-Digital-1-2-sale-Bored-Ape-Yacht-Club--8817-by-Yuga-Labs/0x0.png?format=png&width=960"
                                class=" mb-3 mt-5 h-48 sm:h-24" alt="Not found">
                            <p id="alerttokenname" class="text-indigo-200 font-bold text-2xl mb-3 sm:text-lg">Monkey</p>
                        </div>

                        <div class="p-3 mt-3">

                            <div class="w-full mr-4">
                                <p class="text-indigo-200 pb-1 sm:text-xs">Selling Price:</p>
                                <input type="number"
                                    class="w-full h-10 pl-2 border rounded-lg border-indigo-200 bg-transparent text-indigo-200"
                                    name="selling_price" id="selling_price" aria-describedby="helpId" required>

                            </div>

                            <div class="w-full mt-3">
                                <p class="text-indigo-200 pb-1 sm:text-xs">Withdraw NFT Day:</p>
                                <input type="number"
                                    class="w-full h-10 pl-2 border rounded-lg border-indigo-200 bg-transparent text-indigo-200"
                                    name="expire_time" id="expire_time" aria-describedby="helpId" required>

                            </div>

                            <div class="flex sm:hidden">
                                <input type="submit" value="LIST NFT"
                                    class="mt-5 mr-3 bg-transparent ring-1 ring-indigo-400 rounded-md font-bold text-indigo-200 px-5 py-2  hover:ring-white">

                                <input type="submit" value="CANCEL" id="closealert"
                                    class="mt-5 bg-transparent ring-1 ring-indigo-400 rounded-md font-bold text-indigo-200 px-5 py-2  hover:ring-white">
                            </div>



                        </div>

                    </div>

                    <div class="hidden flex sm:block ">
                        <input type="submit" value="LIST NFT"
                            class="mt-5 mr-3 bg-transparent ring-1 ring-indigo-400 rounded-md font-bold text-indigo-200 px-5 py-2 sm:text-xs sm:px-4 sm:py-2 hover:ring-white">

                        <input type="button" value="CANCEL" id="closealert"
                            class="mt-5 bg-transparent ring-1 ring-indigo-400 rounded-md font-bold text-indigo-200 px-5 py-2 sm:text-xs sm:px-4 sm:py-2 hover:ring-white">
                    </div>


                </form>

            </div>
        </div>

        <div id="alertm"
            class="absolute block bottom-6 right-2 rounded-lg border-l-4 border-indigo-950 bg-gradient-to-r from-indigo-400 to-indigo-200 w-1/3 sm:w-72">
            <p class="py-3 px-2 text-indigo-950 font-bold">
                <%= message %>
            </p>
        </div>

        <%- include('footer'); -%>

        


        <script src="./apis/collected_nfts.js"></script>
        <script src="./apis/listed_nfts.js"></script>
        <script src="./apis/patrawallet.js"></script>
        <script src="./apis/getbalance.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
        
        <script>

            let nftdiv = document.getElementById("NFTs");
            let listednftdiv = document.getElementById("ListedNFTs");

            let collectedbtn = document.getElementById("collectedbtn");
            let listedbtn = document.getElementById("listedbtn");

            let closealert = document.getElementById("closealert");
            let listnftalert = document.getElementById("listnftalert");
            let listingform = document.getElementById("listingform");
            let accountadd = document.getElementById("accountadd");
            let balance = document.getElementById("balance");
            
            

            // listing alert textfiled
            let collection_name_hidden = document.getElementById("collection_name");
            let token_name_hidden = document.getElementById("token_name");
            let token_desc_hidden = document.getElementById("token_desc");
            let token_url_hidden = document.getElementById("token_url");
            let token_owner_hidden = document.getElementById("token_owner");
            let selling_price = document.getElementById("selling_price");
            

               

            let listednftlist = [];
            let alertm = document.getElementById("alertm");

            closealert.addEventListener("click", () => {
                
                listnftalert.classList.add("hidden");
            });




            setTimeout(() => {
                if (alertm.classList.contains("block")) {
                    alertm.classList.remove("block");
                    alertm.classList.add("hidden");
                }

            }, 3000)


            collectedbtn.addEventListener("click", () => {

                collectedbtn.classList.remove("border-transparent");
                collectedbtn.classList.add("text-indigo-600");
                collectedbtn.classList.add("border-indigo-600");
                nftdiv.classList.remove("hidden");

                listednftdiv.classList.add("hidden");
                listedbtn.classList.add("border-transparent");
                listedbtn.classList.remove("text-indigo-600");
                listedbtn.classList.remove("border-indigo-600");
            })

            listedbtn.addEventListener("click", () => {
                collectedbtn.classList.add("border-transparent");
                collectedbtn.classList.remove("text-indigo-600");
                collectedbtn.classList.remove("border-indigo-600");
                nftdiv.classList.add("hidden");

                listednftdiv.classList.remove("hidden");
                listedbtn.classList.remove("border-transparent");
                listedbtn.classList.add("text-indigo-600");
                listedbtn.classList.add("border-indigo-600");


            })

            listingform.addEventListener("submit",async (e)=>{
                e.preventDefault();

                await ListNFT(collection_name_hidden.value,token_name_hidden.value,token_url_hidden.value,token_desc_hidden.value,token_owner_hidden.value,selling_price.value);

                listnftalert.classList.add("hidden");
                location.reload();
            })




            async function FetchListedNFT(address) {
            
                let listednft = await startFetchListedNFT(address);
                
                let nft = "";

                listednft["current_table_items"].forEach(ele => {

                    if (ele["decoded_value"] != null) {
                        listednftlist.push(ele["decoded_key"]);
                    }
                    

                    if (ele["decoded_value"] != null) {

                        if (ele["decoded_value"]["owner_address"] == address) {

        

                            nft += `
                                <div data-aos="fade-up" class="flex w-full py-3 mb-4 bg-gradient-to-r from-indigo-950 to-indigo-900 rounded-lg sm:grid sm:grid-cols-1 hover:ring-1 hover:ring-indigo-200">
                                    <img  src="${ele["decoded_value"]["token_url"]}" class="rounded-full h-16 w-16 my-auto ml-8 sm:ml-3" alt="Not found" >
                                    <div class="ml-5">
                                        <p class="text-indigo-200 font-medium text-lg sm:text-md">${ele["decoded_value"]["token_name"]}</p>
                                        <p class="text-indigo-200 sm:text-sm">Created at : </p>
                                    </div>
                                    <div class="flex ml-auto mr-0 sm:ml-5">
                                        
                                        <input onclick="DelistNFT('${ele["decoded_value"]["token_name"]}')" class="ring-1 ring-offset-1 ring-indigo-500 text-indigo-200 rounded-lg font-semibold px-3 py-2 my-3  mr-8 sm:py-2 sm:text-sm hover:text-indigo-950 hover:bg-indigo-300" type="button" value="Delist NFT">
                                        
                                    </div>
                                </div>

                                `;
                        }

                    }

                });

                listednftdiv.innerHTML = nft;

            }


            async function FetchCollectedNFT() {

                let currunt_account = await window.aptos.account();
                accountadd.innerText = `Account Address : ${currunt_account.address}` ;

                let balanceof = await startFetchAccountBalance(currunt_account.address);
                
                let aptind = (balanceof["coin_balances"][balanceof["coin_balances"].length-1]["amount"]) / (10**8);

                balance.innerText = `Balance : ${aptind} APT`;

                await FetchListedNFT(currunt_account.address);

                let nft = await startFeatchCollectedNFT(currunt_account.address);
                console.log(nft);

                nftlist = "";

                nft["current_token_ownerships"].forEach(element => {

                    


                    if (!listednftlist.includes(element["current_token_data"]["name"])) {
                        if (element["current_token_data"] != null && element["amount"] !=0) {
                            nftlist += `
                                <div data-aos="fade-up" class="flex w-full py-3 mb-4 bg-gradient-to-r from-indigo-950 to-indigo-900 rounded-lg sm:grid sm:grid-cols-1 hover:ring-1 hover:ring-indigo-200">
                                    <img  src="${element["current_token_data"]["metadata_uri"]}" class="rounded-full h-16 w-16 my-auto ml-8 sm:ml-3" alt="Not found" >
                                    <div class="ml-5 sm:pt-2">
                                        <p class="text-indigo-200 font-medium text-lg sm:text-md">${element["current_token_data"]["name"]}</p>
                                        <p class="text-indigo-200 sm:text-sm ">Created at : ${element["current_token_data"]["last_transaction_timestamp"]}</p>
                                    </div>
                                    <div class="flex ml-auto mr-0 sm:ml-5">
                                        <input onclick="ShowListTokenAlertBox('${element["current_token_data"]["collection_name"]}','${element["current_token_data"]["name"]}','${element["current_token_data"]["description"]}','${element["current_token_data"]["metadata_uri"]}','${element["owner_address"]}');"
                                          class="ring-1 ring-offset-1 ring-indigo-500 text-indigo-200 rounded-lg font-semibold px-3 my-3 mr-8 sm:py-2 sm:text-sm hover:text-indigo-950 hover:bg-indigo-300 " type="button" value="List NFT">
                                    </div>
                                </div>

                                `;
                        }
                    }


                });

                nftdiv.innerHTML = nftlist;

            }

            FetchCollectedNFT();



            function ShowListTokenAlertBox(col_name, tokenname, tokekndesc, tokenurl, owner) {

                
                listnftalert.classList.remove("hidden");
                
                let alertimg = document.getElementById("alertimg");
                let alerttokenname = document.getElementById("alerttokenname");

                alertimg.src = tokenurl;
                alerttokenname.innerText = tokenname;


                collection_name_hidden.value = col_name;
                token_name_hidden.value = tokenname;
                token_desc_hidden.value = tokekndesc;
                token_url_hidden.value = tokenurl;
                token_owner_hidden.value = owner;

            }




        </script>
</body>

</html>


<!-- // <form action="/delistnft" method="post" class="h-full">
    //     <input type="hidden" name="tokenname" value="${ele["decoded_value"]["token_name"]}"> 
    //     <input class="ring-1 ring-offset-1 ring-indigo-500 text-indigo-200 rounded-lg font-semibold px-3 py-2 my-2  mr-8 hover:text-indigo-950 hover:bg-indigo-300" type="submit" value="Delist NFT">
    // </form> -->